{% extends 'base.html' %}

{%block title%}
Discoteca-Artista
{% endblock title %}


{%block content%}

<div class="d-grid gap-2">
    <a href="{{url_for('artista.cadastrar')}}"> <button class="btn btn-primary" type="button" style="width: 100%;">Cadastrar Artista</button></a>

  </div>
  <div class="table-responsive tudo">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Artista</th>
        <th scope="col">Nome</th>
        <th scope="col">País</th>
        <th scope="col">Genero Musical</th>
        <th scope="col">Álbuns</th> 
      </tr>
    </thead>
    <tbody>
      {% for artista in artistas %}
      <tr>
        <th scope="row">{{artista.id}}</th>
        <td>
          <img src="{% if artista.img %}{{artista.img}}{% else %}https://rlv.zcache.com.br/poster_icone_de_cantor_logotipo_karaoke-ra36fd3c510f849e4a54f2f0be43297fc_ixh_8byvr_540.jpg{% endif %}" alt="NULL IMG" style="height:80px; width: 80px; object-fit: cover;" >
        </td>
        <td><a href="{{url_for('artista.perfil',_id=artista.id)}}">{{artista.nome}}</a></td>
        <td>{{artista.pais}}</td>
        <td>{{artista.genero_musical}}</td>
        <td>
          {% for x in range(2) %}  <!-- NUMERO DE ALBUNS A SERES EXIBIDOS: 3 -->   
            {% if artista.albuns[x] %}<p><a href="{{url_for('album.perfil',_id=artista.albuns[x].id)}}">{{artista.albuns[x].nome}}</a></p>{% endif %}
          {% endfor %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table></div>


{% endblock %}