{% extends 'base.html' %}

{% block title %}
Perfil - {{artista.nome}}
{% endblock title %}

{% block content %}
<!-- <h1>{{artista.nome}}</h1>
<h4>{{artista.pais}}</h4> -->
<div class="card mb-3">
                
        <div class="card-header card-header-primary text-center" >
            <h4 class="card-title">
                <h1 style="font-size: min(30vw, 30px);font-weight: 700;">{{artista.nome}}</h1>
            </h4>
        </div>
        <div class="card-body">
            <div class="row" style="margin: auto; text-align: center; padding: 8px 20px;">
                <div class="col-sm">
                 <img src="{{artista.img}}" onerror="this.onerror=null; this.src='https://4.bp.blogspot.com/-pE1KnIFm1nw/V1hcHnTYSrI/AAAAAAAADfU/Ofzp2yeXRaIbxY-WRhrSOt2RNI4--KsHQCLcB/s1600/karaoke-160752_1280.png'" alt="NULL IMG" style="width: 100%; max-width: 400px;">
                </div>
                <div class="col-sm">                         
                <ul id="info" style="color: #4f4f4f;" class="list-group">
                    <li class="list-group-item">Pais: {{artista.pais}}</li>
                    <li class="list-group-item">Gênero: {{artista.genero_musical}}</li>
                    <li class="list-group-item">Classificação: {{'%0.2f'| format(Media|float)}}</li>
                    <li class="list-group-item">Albuns Produzidos: {{nAlbuns}}</li>
                </ul> 
                <div style="padding-top: 30px;">
                    <a href="{{url_for('artista.editar',_id=artista.id)}}"><button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Editar artista" ><i class="fas fa-edit"></i></button></a>
                    <a href="{{url_for('artista.excluir',_id=artista.id)}}"><button class="btn btn-primary" data-toggle="tooltip" data-placement="top" title="Excluir artista" ><i class="fa fa-trash"></i></button></a>
                 </div>
                  
            </div>
            <div class="table-responsive" style="padding-top: 30px;">
            <table class="table">
            </div>
              <thead>
                <tr>
                  <th scope="col">#</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Ano</th>
                  <th scope="col">Gênero</th>
                  <th scope="col">Duração</th>
                  <th scope="col">Avaliação</th>
                  <th scope="col">Formato</th>
                  <th scope="col">Opções</th>
                </tr>
              </thead>
              <tbody>
              {% for album in artista.albuns %}
                  <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td><a href="{{url_for('album.perfil',_id=album.id)}}">{{album.nome}}</a></td>
                    <td>{{album.ano}}</td>
                    <td>{{album.genero_musical}}</td>
                    <td>{{album.duracao}}</td>
                    <td>{% set x = album.avaliacao %}{% for i in range(x) %}⭐{% endfor %}</td>
                    <td>{{album.formato}}</td>
                    <td>
                      <a href="{{url_for('album.desassociar',_id=album.id, _idAr=artista.id)}}" data-toggle="tooltip" data-placement="top" title="Desassociar álbum"><i class="fa fa-minus-square"></i></a>
                    </td>
                  </tr>
              {% endfor %}
                </tbody>
              </table>
        </div>
        <!-- /.login-card-body -->
    </div>

</div>
   
      
      
      
      
      {% endblock content %}
      <!-- <a href="{{url_for('album.associar_artista',_id=album.id)}}"><i class="fas fa-plus-square"></i></a> -->
      